@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  word-spacing: 1.4;
}

ul {
  list-style: none;
}

// Header/Navbar
.main-header,
.main-header-inner {
  position: fixed;
  top: 0;
  left: 260px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

.hide-header {
  display: none;
}

// Desktop Menu
.desktop-main-menu {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;

    li {
      position: relative;
      margin-right: 20px;
      padding-bottom: 2px;

      // Menu item bottom border

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        transform-origin: right center;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left center;
        transition-duration: 0.4s;
      }
    }
  }
}

// Logo
.logo {
  width: 210px;
  //   margin-right: 50px;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.shop-link {
  margin-right: 315px;
  font-size: 14px;
}

section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 151px;
  left: 301px;
  max-width: 560px;

  h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
  }

  h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 0 2px #555;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both; //Stop from showing at start of animation
  }

  a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both; //Stop from showing at start of animation
  }
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;

  &:hover {
    .hover {
      transform: translateY(0);
    }
    span {
      color: #000;
    }
  }

  .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

// Background Images
.section-a {
  background-image: url('../img-desktop/Homepage_Desktop.webp');
}
.section-b {
  background-image: url('../img-desktop/Homepage_Desktop_2.webp');
}
.section-c {
  background-image: url('../img-desktop/Homepage_Desktop_3.webp');
}
.section-d {
  background-image: url('../img-desktop/S20_Chopstick_Stack_Desktop.webp');
}
.section-e {
  background-image: url('../img-desktop/hls-resized-2.webp');
}

// Footer
footer {
  position: relative;
  padding: 55px 0;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin-right: 30px;
      color: #aaa;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 2.5;

      a {
        color: #fff;
        transition: color 0.6s;

        &:hover {
          color: #aaa;
        }
      }
    }
  }
}

// Hamburger Menu
.hamburger {
  position: fixed;
  top: 47px;
  right: 32px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 16px;
  height: 1.5px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(4px);
}

.hamburger-bottom {
  transform: translateY(8px);
}

// Transition hamburger to X when open
.open {
  transform: rotate(90deg);

  .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(20px);
  }

  .hamburger-middle {
    display: none;
  }

  .hamburger-bottom {
    transform: rotate(-45deg) translateY(20px) translateX(-6px);
  }
}

// overlay
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

// Stop body scroll
.stop-scrolling {
  overflow: hidden;
}

// Hide mobile main menu items
.mobile-only {
  display: none;
}

// Mobile menu
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;

    li {
      margin-bottom: 20px;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: 1px dotted #555;
      width: 100%;
      text-align: right;
      padding-bottom: 8px;

      a {
        color: #fff;
        transition: color 0.6s;

        &:hover {
          color: #aaa;
        }
      }
    }
  }
}

.show-menu {
  transform: translateX(0);
}

// Inner Pages
.bg-falcon-9 {
  background-image: url('../img/falcon-9.webp');
}

.bg-falcon-heavy {
  background-image: url('../img/falcon-heavy.webp');
}

.bg-dragon {
  background-image: url('../img/dragon.webp');
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-align: center;
  width: 80%;

  h3 {
    font-size: 100px;
    margin-bottom: 15px;
    animation: fadeInUp 0.5s ease-in-out;
  }

  p {
    font-size: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
  }
}

// Stats Section
.stats {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;

  div {
    margin: 0 25px;
    span {
      font-size: 148px;
    }

    h4 {
      font-size: 24px;
      font-weight: 300;
    }
  }
}

.video-bg-falcon9 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding-bottom: 50px;
}

//Info graphic sectin
.info-graphic {
  padding: 20px 0;
  position: relative;
  height: 100vh;
}

.info-graphic-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 625px;
  left: 300px;
  height: 725px;

  p {
    position: absolute;
    line-height: 38px;
    width: 520px;
    font-size: 20px;
    text-transform: none;
    font-weight: light;
  }
}

.pause-scrolling {
  position: sticky;
  top: 0px;
}

// .keep-scrolling {
//   display: block;
//   position: fixed;
//   overflow-y: scroll;
// }

// Animations

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Media Queries

@media (max-width: 960px) {
  // hide desktop menu
  .desktop-main-menu {
    display: none;
  }

  //   Show main mobile items
  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }

  .info-graphic-container {
    left: 0px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner {
    bottom: 75px;
    left: 20px;

    h2 {
      font-size: 40px;
    }
  }

  footer ul li {
    margin-right: 15px;
    &:first-child {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .section-inner-center {
    h3 {
      font-size: 50px;
    }
  }

  .stats {
    flex-direction: column;

    div {
      margin-bottom: 20px;
    }
  }
}
